@font-face {
  font-family: 'Georgia-Regular';
  src: url("../fonts/Georgia/Georgia-Regular.ttf") format("truetype");
  src: url("../fonts/Georgia/Georgia-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Georgia/Georgia-Regular.otf") format("opentype");
  src: url("../fonts/Georgia/Georgia-Regular.woff") format("woff");
  src: url("../fonts/Georgia/Georgia-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Italic';
  src: url("../fonts/Lora/Lora-Italic.ttf") format("truetype");
  src: url("../fonts/Lora/Lora-Italic.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Lora/Lora-Italic.otf") format("opentype");
  src: url("../fonts/Lora/Lora-Italic.woff") format("woff");
  src: url("../fonts/Lora/Lora-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  src: url("../fonts/NotoSans/NotoSans-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/NotoSans/NotoSans-Regular.otf") format("opentype");
  src: url("../fonts/NotoSans/NotoSans-Regular.woff") format("woff");
  src: url("../fonts/NotoSans/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans/OpenSans-Light.otf") format("opentype");
  src: url("../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/OpenSans/OpenSans-Light.woff") format("woff");
  src: url("../fonts/OpenSans/OpenSans-Light.woff2") format("woff2");
  src: url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#my-page {
  max-width: 256rem;
  max-height: 204.8rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header {
  display: none;
  padding: 0.8rem 1.3rem;
  background-image: url("../img/background-side-2.jpg");
  background-size: cover;
}

.header__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__title {
  font-family: 'Georgia-Regular', serif;
  font-size: 2.8rem;
  color: #ffffff;
  text-transform: uppercase;
}

.main__leftSide {
  display: block;
  width: 31rem;
  height: 100%;
  background: url("../img/background-side.jpg");
  background-size: cover;
}

.main__rightSide {
  max-width: 225rem;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.main__logo {
  margin: 0 auto 18rem;
  padding-top: 3rem;
  width: 24.2rem;
}

.main__logo img {
  margin-bottom: 2.8rem;
  width: 100%;
  height: auto;
}

.main__logo-paragraph {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.6rem;
  color: #c8c8c8;
  margin-left: 0.2rem;
  line-height: 1.2;
}

.main__deskMenu-list {
  margin-bottom: 12.2rem;
}

.main__deskMenu-companyData {
  margin: 0 0 6.1rem 3.8rem;
}

.main__deskMenu-contacts {
  margin-left: 3.8rem;
}

.main__mobileMenu {
  display: none;
}

.main__mobileMenu-list .main__menu-item:before {
  display: none;
}

.main__mmenu-link {
  display: block;
  width: 3.7rem;
  margin: 0 1.3rem 0 0;
}

.main__mmenu-button {
  display: block;
  height: 1.2rem;
  width: 2rem;
  position: relative;
  margin: 1.2rem 0 0;
}

.main__mmenu-button:after {
  display: block;
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 4.6rem;
  background-color: #7a7777;
  top: -2.2rem;
  left: 3.6rem;
}

.main__mmenu-burger {
  display: block;
  margin: 0.8rem 0 0;
  background-color: #ffffff;
  position: relative;
  width: 2.2rem;
  height: 0.2rem;
}

.main__mmenu-burger:before {
  display: block;
  position: absolute;
  content: '';
  background-color: #ffffff;
  width: 2.2rem;
  height: 0.2rem;
  bottom: 0.88rem;
  left: 0;
}

.main__mmenu-burger:after {
  display: block;
  position: absolute;
  content: '';
  background-color: #ffffff;
  width: 2.2rem;
  height: 0.2rem;
  top: 0.88rem;
  left: 0;
}

.main__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4.6rem 0;
  position: relative;
  text-transform: uppercase;
}

.main__menu-item .main__menu-link {
  margin-left: 3.8rem;
}

.main__menu-item.news {
  position: relative;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

.main__menu-item.news span {
  position: absolute;
  display: block;
  width: 2.8rem;
  height: 1.6rem;
  text-align: center;
  padding: 0.4rem 0 0 0.4rem;
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  right: 0;
  background-image: url("../img/tape-mark.svg");
  background-size: cover;
}

.main__menu-item:before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 0.1rem;
  background-color: #7a7777;
  z-index: 1;
  rigth: 0;
  top: 3.6rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main__menu-link {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.6rem;
  color: #f8f8f8;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.main__menu-link:active {
  outline: none;
  font-weight: 600;
}

.main__menu-phone {
  display: block;
  width: 3rem;
  position: relative;
}

.main__menu-phone:before {
  content: '';
  position: absolute;
  display: block;
  height: 4.4rem;
  width: 0.1rem;
  background-color: #7a7777;
  top: -0.8rem;
  left: -0.8rem;
}

.main__menu-phone img {
  margin: 0.5rem 0 0 1rem;
}

.main__menu-dataItem:not(:last-child) {
  margin-bottom: 1.6rem;
}

.main__menu-dataItem a {
  color: #c8c8c8;
}

.main__menu-contact:not(:last-child) {
  margin-bottom: 0.9rem;
}

.main__menu-tel {
  color: #fefefe;
  font-size: 2rem;
}

.main__menu-feedback {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 1.6rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #c18f58;
  position: relative;
}

.main__menu-feedback:before {
  position: absolute;
  content: '';
  width: 12.2rem;
  height: 0.1rem;
  background: url("../img/dashed-underline.svg");
  background-size: cover;
  bottom: -0.5rem;
}

.main__menu-feedback:hover {
  cursor: pointer;
}

.main__menu-feedback:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.form-feedback {
  display: none;
  position: absolute;
  width: 75rem;
  height: 43rem;
  background-color: #f4f4f4;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 0.1rem;
}

.form-feedback__img {
  display: block;
  width: 37%;
  height: 100%;
  background-image: url("../img/feedback-bg.jpg");
  background-size: cover;
}

.form-feedback__feedback {
  padding: 3.5rem 5rem 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.form-feedback__close {
  position: absolute;
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  right: 0;
  top: 0;
  background-image: url("../img/close.png");
  background-size: cover;
  -webkit-transform: translate(-1.6rem, 1.6rem);
          transform: translate(-1.6rem, 1.6rem);
}

.form-feedback__close:hover {
  cursor: pointer;
}

.form-feedback__close:active {
  -webkit-transform: translate(-1.6rem, 1.7rem);
          transform: translate(-1.6rem, 1.7rem);
}

.form-feedback__block {
  width: 100%;
  margin-bottom: 2.8rem;
}

.form-feedback__background {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(73, 66, 60, 0.9);
  z-index: 4;
}

.form-feedback__input {
  display: block;
  width: 100%;
  height: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-feedback__title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #5d5d5d;
  letter-spacing: 0.16rem;
  margin-bottom: 2.5rem;
}

.form-feedback__label {
  display: block;
  font-family: 'NotoSans-Regular', sans-serif;
  color: #5d5d5d;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.form-feedback__button-block {
  display: block;
  width: 100%;
  position: relative;
}

.form-feedback__form-text {
  resize: none;
  height: 7rem;
  width: 99%;
}

.form-feedback__form-btn {
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Lora-Italic', sans-serif;
  font-size: 1rem;
  padding: 1rem 6rem;
  color: #f4f4f4;
  background-color: #d19053;
  border: none;
  border-radius: 0.2rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.form-feedback__form-btn:focus {
  outline: none;
}

.form-feedback__form-btn:active {
  background-color: #c18f58;
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.8rem rgba(73, 66, 60, 0.5);
          box-shadow: inset 0.2rem 0.2rem 0.8rem rgba(73, 66, 60, 0.5);
}

.form-feedback__popup {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: #f4f4f4;
  width: 30rem;
  height: 16rem;
  padding: 4rem 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.2rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.8rem rgba(73, 66, 60, 0.5);
          box-shadow: 0.3rem 0.3rem 0.8rem rgba(73, 66, 60, 0.5);
}

.form-feedback__popup-paragraph {
  font-family: 'NotoSans-Regular', sans-serif;
  text-align: center;
  margin: 0 auto 5rem;
  max-width: 25rem;
  font-size: 2.2rem;
  line-height: 1.2;
}

.form-feedback__popup-btn {
  display: block;
  margin: 0 auto;
  font-family: 'Lora-Italic', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  background-color: #c18f58;
  border: none;
  padding: 1rem 5rem;
  border-radius: 0.1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.form-feedback__popup-btn:focus {
  outline: none;
}

.form-feedback__popup-btn:active {
  -webkit-box-shadow: inset 0.2rem 0.2rem 0.8rem rgba(73, 66, 60, 0.5);
          box-shadow: inset 0.2rem 0.2rem 0.8rem rgba(73, 66, 60, 0.5);
}

/*Aadaptive */
/* Width adaptive */
@media (max-width: 2048px) {
  .main__rightSide {
    max-width: 173.8rem;
  }
}

@media (max-width: 1920px) {
  .main__rightSide {
    max-width: 161rem;
  }
}

@media (max-width: 1680px) {
  .main__rightSide {
    max-width: 137rem;
  }
}

@media (max-width: 1600px) {
  .main__rightSide {
    max-width: 129rem;
  }
}

@media (max-width: 1536px) {
  .main__rightSide {
    max-width: 122.6rem;
  }
  .main__deskMenu-companyData {
    margin: 0 0 5.8rem 4rem;
  }
}

@media (max-width: 1440px) {
  .main__rightSide {
    max-width: 113rem;
  }
}

@media (max-width: 1400px) {
  .main__logo {
    width: 22rem;
  }
  .main__leftSide {
    width: 27rem;
  }
  .main__rightSide {
    max-width: 109rem;
  }
  .main__menu-item .main__menu-link {
    margin-left: 2.9rem;
  }
  .main__deskMenu-list {
    margin-bottom: 10rem;
  }
  .main__deskMenu-companyData {
    margin: 0 0 5.8rem 2.9rem;
  }
  .main__deskMenu-contacts {
    margin-left: 2.9rem;
  }
}

@media (max-width: 1350px) {
  .main__rightSide {
    max-width: 108rem;
  }
}

@media (max-width: 1280px) {
  .main__rightSide {
    max-width: 101rem;
  }
}

@media (max-width: 1260px) {
  .main__logo {
    width: 20rem;
  }
  .main__rightSide {
    max-width: 99rem;
  }
}

@media (max-width: 1200px) {
  .main__rightSide {
    max-width: 93rem;
  }
}

/* Width when menu switched to mobile-menu */
@media (max-width: 1150px) {
  .main {
    display: block;
  }
  .main__leftSide {
    display: none;
  }
  .main__rightSide {
    max-width: 100%;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Height adaptive */
@media (max-height: 1050px) {
  .main__logo {
    margin: 0 auto 10rem;
  }
}

@media (max-height: 960px) {
  .main__logo {
    margin: 0 auto 8rem;
  }
  .main__logo-paragraph {
    display: none;
  }
  .main__logo img {
    margin-bottom: 0;
  }
}

@media (max-height: 860px) {
  .main__logo {
    margin: 0 auto 4rem;
  }
  .main__deskMenu-list {
    margin-bottom: 8rem;
  }
}

@media (max-height: 790px) {
  .main__menu-item {
    margin: 4rem 0;
  }
  .main__menu-item:before {
    top: 3rem;
  }
  .main__menu-dataItem:not(:last-child) {
    margin-bottom: 1.4rem;
  }
  .main__menu-link {
    font-size: 1.4rem;
  }
  .main__deskMenu-list {
    margin-bottom: 6rem;
  }
  .main__deskMenu-companyData {
    margin-bottom: 3rem;
  }
}

/* Height when menu switched to mobile-menu */
@media (max-height: 660px) {
  .main {
    display: block;
  }
  .main__leftSide {
    display: none;
  }
  .main__rightSide {
    max-width: 100%;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main__mobileMenu {
  --mm-listitem-size: 50px;
}

.main__mobileMenu-item {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.main__mobileMenu-link {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.mm-navbar {
  color: #5d5d5d !important;
  background-color: #e4e3df !important;
}

.mm-navbar__title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 1.3rem;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0 0 0 1.4rem;
  letter-spacing: 0.08rem;
}

.mm-listitem {
  background-color: #efeeea;
}

.mm-menu_offcanvas {
  max-width: 25rem !important;
}

.mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout {
  -webkit-transform: translate3d(25rem, 0, 0) !important;
          transform: translate3d(25rem, 0, 0) !important;
}

.owl-stage {
  height: 100%;
}

.owl-stage-outer {
  width: 100%;
  height: 100%;
}

.owl-item {
  height: 100%;
}

.owl-carousel {
  width: 100%;
  height: 100%;
}

.owl-carousel__slider {
  height: 100%;
  background-image: url("../img/img-slide-1.jpg");
  background-size: cover;
  position: relative;
}

.owl-carousel__block {
  display: inline-block;
  position: absolute;
  bottom: 10vh;
  left: 8.8rem;
}

.owl-carousel__block-text {
  position: relative;
  z-index: 1;
}

.owl-carousel__block-text:before {
  content: '';
  position: absolute;
  display: block;
  width: 84rem;
  height: 14rem;
  background-color: rgba(73, 66, 60, 0.4);
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: translate(-1.4rem, -1rem);
          transform: translate(-1.4rem, -1rem);
}

.owl-carousel__block-text:after {
  content: '';
  position: absolute;
  display: block;
  width: 84rem;
  height: 14rem;
  background-color: rgba(73, 66, 60, 0.3);
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-transform: translate(1.4rem, 2rem);
          transform: translate(1.4rem, 2rem);
}

.owl-carousel__block-title {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 5.8rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.owl-carousel__block-subtitle {
  font-family: 'NotoSans-Regular', sans-serif;
  font-size: 3.6rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.owl-carousel__link {
  width: 17rem;
  padding: 1.5rem 1.8rem;
  margin: 0 0 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b17573;
  font-family: 'Lora-Italic', sans-serif;
  color: #ffffff;
  font-size: 1.8rem;
  text-decoration: none;
  border-radius: 0.1rem;
  z-index: 3;
  position: relative;
}

.owl-carousel__link:hover {
  cursor: pointer;
}

.owl-carousel__link-arrow {
  display: block;
  width: 1.6rem;
  height: 0.1rem;
  background-color: #ffffff;
  position: relative;
}

.owl-carousel__link-arrow:before {
  display: block;
  content: '';
  position: absolute;
  width: 0.9rem;
  height: 0.1rem;
  background-color: #ffffff;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  top: 0;
  right: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.owl-carousel__link-arrow:after {
  display: block;
  content: '';
  position: absolute;
  width: 0.9rem;
  height: 0.1rem;
  background-color: #ffffff;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.owl-carousel__link:active {
  font-weight: 600;
}

.owl-carousel__link:active .owl-carousel__link-arrow {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
}

.owl-nav {
  display: none;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 6.8rem;
  bottom: 4.6vh;
  z-index: 2;
}

.owl-dot {
  margin: 0 0.5rem;
}

.owl-dot:hover {
  cursor: pointer;
}

.owl-dot span {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.owl-dot.active span {
  width: 1.6rem;
  height: 1.6rem;
}
/*# sourceMappingURL=style.css.map */