.owl
  &-carousel
    max-width: 161rem
    &__slider
      height: 100vh
      background-image: url('../img/img-slide-1.jpg')
      background-size: auto 100%
      position: relative
    &__block
      display: inline-block
      background-color: rgba($color-dark, 0.4)
      padding: 2rem 6rem 2.2rem 2rem
      margin: 71.5vh 0 0.8rem 4vw
      position: relative
      z-index: 1
      &:before
        position: absolute
        content: ''
        display: block
        width: 89rem
        height: 15rem
        background-color: rgba($color-dark, 0.3)
        z-index: -1
        top: 3.2rem
        left: 2.2rem
      &-title
        +notoSans
        font-size: 5.8rem
        color: $color-white
        text-transform: uppercase
        margin-bottom: 1.5rem
      &-subtitle
        +notoSans
        font-size: 3.6rem
        color: $color-white
        text-transform: uppercase
        margin-bottom: 2.5rem
    &__link
      width: 17rem
      padding: 1.5rem 1.8rem
      margin: 0 0 0 0.2rem
      display: flex
      justify-content: space-between
      align-items: center
      background-color: $color-link-bg
      +lora
      color: $color-white
      font-size: 1.8rem
      text-decoration: none
      border-radius: 0.1rem
      z-index: 3
      &:hover
        cursor: pointer
      &-arrow
        display: block
        width: 1.6rem
        height: 0.1rem
        background-color: $color-white
        position: relative
        &:before
          display: block
          content: ''
          position: absolute
          width: 0.9rem
          height: 0.1rem
          background-color: $color-white
          transform-origin: 100%
          top: 0
          right: 0
          transform: rotate(-45deg)
        &:after
          display: block
          content: ''
          position: absolute
          width: 0.9rem
          height: 0.1rem
          background-color: $color-white
          transform-origin: 100%
          top: 0
          right: 0
          transform: rotate(45deg)
      &:active
        font-weight: 600
        .owl-carousel__link-arrow
          transform: translateY(0.1rem)

  &-nav
    display: none
  &-dots
    display: flex
    align-items: center
    position: absolute
    bottom: 2rem
    z-index: 2
    bottom: 4.2vh
    left: 19.8vw
  &-dot
    margin: 0 0.5rem
    &:hover
      cursor: pointer
  &-dot span
    display: block
    width: 1rem
    height: 1rem
    border-radius: 50%
    background-color: $color-white
    transition: 0.1s
  &-dot.active span
    width: 1.6rem
    height: 1.6rem

Responsive
@media (max-width: 1920px)
  .owl
    &-dots
      left: 22vw

@media (max-width: 1620px)
  .owl
    &-carousel
      &__slider
        background-size: cover

@media (max-width: 1420px)
  .owl
    &-carousel
      &__block
        margin: 70vh 0 2rem 4vw

@media (max-width: 1290px)
  .owl
    &-dots
      left: 26vw
@media (max-width: 1120px)
  .owl
    &-dots
      left: 28vw

@media (max-width: 769px)
  .owl
    &-dots
      bottom: 6vh
      left: 10vw
    &-carousel
      &__block
        margin: 40vh 0 2rem 4vw  

@media (max-height: 980px)
  .owl
    &-dots
      bottom: 5vh
      left: 20vw
    &-carousel
      &__block
        margin: 60vh 0 2rem 4vw

@media (max-height: 790px)
  .owl
    &-carousel
      &__block
        margin: 50vh 0 2rem 4vw

@media (max-height: 1068px)
  .owl
    &-carousel
      &__slider
        background-size: 100% 100%